__pycache__/
studies/degradation/Raw data/
studies/degradation/Ancillary data/
studies/degradation/.ipynb_checkpoints/
studies/degradation/Visualisation/
studies/multi-cell_ml/Raw data/
studies/multi-cell_ml/Ancillary data/
studies/multi-cell_ml/Visualisation/
studies/multi-cell_ml/Exploratory/
studies/multi-cell_ml/Cluster/
studies/multi-cell_ml/Regression/
studies/multi-cell_ml/Classification/
studies/multi-cell_ml/Unsupervised/
studies/multi-cell_ml/Exploratory/
studies/multi-cell_ml/Obsolete/
studies/multi-cell_ml/Models/
studies/multi-cell_ml/Backup models/

plt.clf()
.vscode/
.coverage
.coverage.xml